<launch> 
<!-- station/rover launch file -->
    <!-- <include file="$(find bringup_pkg)/launch/arduino.launch" /> -->


    <!-- imu node -->
    <!-- <node name="imu"        	                pkg="bringup_pkg"            type="imu_adfr_pkg.py"> -->
    <!-- </node> -->

    <node name="stage2_v1"        	                pkg="nav"            type="stage2_v1.py">
    </node>

</launch>
